html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#terminal {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
  text-align: left;
  height: 200px;
  white-space: pre-wrap;
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
  word-break: break-word;
  color: #fff;
  background-color: #161721;
}
